<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Avioes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of items | async" (click)="itemTapped($event, item)">
      <ion-icon name="md-jet" item-start></ion-icon>
      {{item.velocity}}
      <div class="item-note" item-end>
        {{item.raio}}
      </div>
    </button>
  </ion-list>
  <!--<div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>-->
</ion-content>
