page-home {

  .prof {
    background-color: black;
    margin-right: 500px;
  }


    canvas {
        background: #eee;
      }
      .display-inherit {
        display: inherit;
      }

    .form-basico {
      margin-left: 75%
    }  

    img {
      position: relative;
      float: right;
      width: 300px;
      right: 90px;
      margin-top: -190px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: minmax(150px, auto);
  }

  .box {
    border-radius: 5px;
    padding: 3em;
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 300px;
  }

  .grid > * {
    margin-bottom: 10px;
    }

  .box_green {
    background-color: rgba(187, 225, 123, 1);
    size: -10px;
    
  }

  .box_turquoise{
    background-color: rgb(190, 126, 216);
    size: -10px;
  }

  .box_orange {
    background-color: rgb(247, 152, 9);
    
  }

  .box_blue {
    background-color: rgba(131, 150, 225, 1);
  }

  .box_yellow {
    background-color: rgba(235, 229, 39, 1);
    
}

  .box_pink {
    background-color: rgb(230, 21, 184);
    size: 100px;
    
  }

  .coluna1{
    padding-left: 100px;
  }

  .coluna2{
    padding-right: 80px;
  }

  #gridlayoyt {
    margin-left: 188px;
  }
 
  @supports (display: grid) {
    .grid > * {
      margin: 0;
    }
  }
}

